body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #4ca5ed; 
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding-top: 20px;
  }
  
  .box {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px; 
  }
  
  .box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .tablecontainer {
    margin-top: 40px;
    width: 90%;
  }
  
  .recordstable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .recordstable th, .recordstable td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .recordstable th {
    background-color: #f2f2f2;
  }
  
  .actionbtn {
    margin-right: 10px;
    padding: 5px 10px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .actionbtn:hover {
    background-color: #0056b3;
  }


  .link {
    text-decoration: none;
    color: #4ca5ed;
  }
  
  .link:hover {
    text-decoration: none;
    color: #ffffff;
  }
  
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px; 
    padding: 10px 20px;
    font-size: 16px;
    color: #4ca5ed;
    background-color: #ffffff; 
    border-color: #4ca5ed;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn i {
    margin-right: 10px;
  }
  
  .btn:hover {
    background-color: #4ca5ed; 
    color: #ffffff;
  }